<md-card>
  <md-card-header>
    <div md-card-avatar></div>
    <md-card-title>Piotr J. M.</md-card-title>
    <md-card-subtitle>Fullstack Developer</md-card-subtitle>
  </md-card-header>

  <md-card-content>
    <div class="row">
      <div class="label label-primary col-md-12">Skills:</div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6">
        <p>C#:</p>
        <p>JavaScript:</p>
        <p>SQL:</p>
      </div>
      <div class="col-md-6">
        <p>MVC:</p>
        <p>Angular:</p>
        <p>Python:</p>
      </div>
    </div>
  </md-card-content>

  <md-card-actions>
    <button md-button><md-icon fontSet="fontawesome" fontIcon="fa-envelope"></md-icon></button>
    <button md-button><md-icon fontSet="fontawesome" fontIcon="fa-ban"></md-icon></button>
    <button md-button><md-icon fontSet="fontawesome" fontIcon="fa-ban"></md-icon></button>
  </md-card-actions>
</md-card>
